/*Secciones de contenido*/

.navbar-brand img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin-left: 20px;
}

.gridContainerS {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100%;
    justify-items: center;
    width: 100%;
    height: 60vh;
}

.gridContenido {
    @extend .gridContainerS;
    background-color: rgb(255, 255, 255);
}

.gridContenidoN {
    @extend .gridContainerS;
    background-color: rgb(0, 0, 0);
    color: white;
}

.gridContenidoN iframe {
    margin-top: 160px;
}

.gridContenido iframe {
    margin-top: 160px;
}


.gridContenido4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: justify;
    width: 100%;
}

.bConsultas {
    width: 90%;
    margin: auto;
}

.notCenter h3 {
    text-align: justify;
}

.marginConsulta p{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
} 

.titleSpace {
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Los bloques derecha e izquierda*/

.bloqueDI {
    height: 400px;
    width: 600px;
    padding: 10px; 
}

.bderecha {
    @extend .bloqueDI;
}

.bizquierda {
    @extend .bloqueDI;
}

section .bderecha, .bizquierda{
    margin: auto;
}

.closeList{
    line-height: 0.8;
    margin-top: 30px;
}

/* Imagenes derecha e izquierda*/

@mixin img--sizes ($height, $width, $padding, $margin) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}

.imgderecha img, iframe {
    @include img--sizes(400px, 600px, 50px, auto)
}

.imgizquierda img, iframe {
    @include img--sizes(400px, 600px, 50px, auto)
} 

/*Seccion anclaje de relatos en Galeria.html*/

.img_Relatos img {
    height: 600px;
    width: 100%;
    padding: 40px;
    margin: auto;
}

.img_selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    margin-top: 40px;
}

.img_selector img {
    height: 200px;
    width: 220px;
    border-radius: 100px;
}
    
/*Seccion "Comentarios de los clientes" en preguntas.html*/

.h2Coment {
    margin-top: 80px;
    margin-bottom: 20px;
}

.card img{
    width: 240px;
    height: 240px;
    margin: auto;
    margin-top: 20px
}

.col-md-4 .card {
    margin-top: 30px;
    border-radius: 7px;
    border-color: black;
    color: white;
    background-color: black;
}


/*Formulario en contactos.html*/

.contactanos {
    margin-bottom: 20px;
    margin-top: -40px;
}

.formulario {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 900px;
    margin: auto;
    padding: 45px 90px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 7px;  
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    font-family: 'quintessential','arial narrow';
    color: black;
}

textarea {
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
}

.button {
    background-color: white;
    color: black;
    width: 40%;
    height: 60px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 32%;
    font-size: 30px;
    font-family: 'quintessential','arial narrow';
    }


/*"Descarga nuestros cupones" en contactos.html*/

.marginD {
    margin-bottom: 40px;
}

#accordionFlushExample {
    width: 60%;
    margin: auto;
}

.accordion-item {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 10px;
    
}

.accordion-header button {
    background-color: rgb(0, 0, 0);
    color: white;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-color: black;
    
}

.accordion-body {
    background-color: rgb(255, 255, 255);
}
