/*Seccion del Footer*/

footer {
    font-family: 'quintessential', 'arial narrow';
    background-color: $footerColor;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align:justify;
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 40px;
}

.fMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-items: center;
    width: 100%;
    list-style-type: none;
    position: relative;
    top: 40px;
}

.fMenu .fMenuT {
    height: 50px;
    width: 50px;
}

.derechosA p {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
