/*----------Media Querys------------*/

/*---------------------------Vista Tablet----------------------*/

@media screen and (max-width: 1024px) {

    /*Body*/

    h1 {
        font-size: 70px;
    }
    
    h2 {
        font-size: 60px;

    }
    
    h3 {
        font-size: 50px;
    
    }

    h4 {
        font-size: 30px;

    }
    
    p {
        font-size: 22px;
    }
    
    ul {
        font-size: 22px;
    }

    /*Menu*/

    .navbar-brand img {
    height: 110px;
    width: 110px;
    }

    .imgFondoC img {
        width: 100%;
        height: 500px;    
    }

    /*contenido*/

    .gridContenidoN {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        height: 100%;
        overflow: hidden; 
    }

    .gridContenido {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        height: 100%;
        overflow: hidden;    
    }

    .gridContenido4 {
        display: grid;
        grid-template-columns: 100%; 
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: justify;
        width: 100%;
        overflow: hidden;

    }

    .orderUp {
        order:1;
    }

    .imgderecha img, iframe {
        @include img--sizes(400px, 600px, 0px, auto);
        margin-bottom: 60px;
    }
    
    .imgizquierda img, iframe {
        @include img--sizes(400px, 600px, 0px, auto);
        margin-bottom: 60px;
    }

    /*Seccion anclado de relatos en galeria.html*/

    .img_Relatos img {
            height: 600px;
            width: 600px;
            padding: 40px;
            border-radius: 300px;
    }
    
    .img_selector {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding: 20px;
        margin-top: 40px;
    }
    
    .img_selector img {
        height: 120px;
        width: 140px;
        border-radius: 100px;

    
    }
    
    /*Seccion consulta tu duda*/

    .notCenter{
        display: flex;
        flex-direction: column;
        max-height: 1200px;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .marginConsulta {
        max-height: 600px;
        max-width: 600px;
        padding: 1rem;
        margin-right: 30px;
        margin-left: 30px;
    
    }

    /*Seccion Descarga nuestros cupones*/

    .section_Size {
        margin-top: 40px;
        margin-bottom: 40px;
        height: 720px;
        justify-content: center;
        align-items: center;
        background-color: rgba(107, 73, 151, 0.397);
    }

    /*Seccion "Comentarios de los clientes" en preguntas.html*/

    .card img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }
    
    .section_Size2 {
        height: 1350px;
        background-color: rgba(75, 0, 0, 0.4);
    }            

    /*Formulario*/

    .formulario {
        width: 90%;
        height: 90%;
    }

    .button {
        font-size: 20px;
    }

}
    /*-------------------- Vista Mobile 600px-------------------------*/

@media screen and (max-width: 600px) {

    /*Body*/
   
    h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    h3 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;  
    }

    h4 {
        font-size: 22px;
    }
    
    p {
        font-size: 16px;
    }
    
    ul {
        font-size: 16px;
        line-height: 1.4;
        text-align:justify;
    }
    
    body h1,h2,h3 {
        padding: 8px;
    } 

    /*Menu*/

    .navbar-brand img {
        height: 100px;
        width: 100px;
        }

   .imgFondoC img {
        width: 100%;
        height: 380px;    
    }
    
    /*Contenido*/

    .gridContenidoN {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        overflow: hidden;
        min-height: 700px;
    }

    .gridContenido {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        overflow: hidden;
        min-height: 700px;
    }

    .gridContenido4 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: justify;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-width: 480px;
        min-height: 700px;
    }
    
    .orderUp {
        order:1;
    }

   .centerTextD {
       margin-top: 10px;
   }

    .bderecha, .bizquierda {
        max-width: 460px;
        max-height: 280px;   
    }

    .bderecha ul {
        margin-top: 10px;   
    }

    .bizquierda ul {
        margin-top: 10px;   
    }

    .imgderecha img, iframe {
        @include img--sizes(250px, 450px, 0px, auto);
        margin-bottom: 10px; 
        
    }
    
    .imgizquierda img, iframe {
        @include img--sizes(250px, 450px, 0px, auto);
        margin-bottom: 10px;
    }    

    .imgderecha, .imgizquierda {
        max-height: 500px;
        max-width: 500px;
    }

    .marginBot {
        margin-bottom: 20px;
    }

    /*Seccion anclado de relatos en galeria.html*/

    .img_Relatos img {
        height: 480px;
        width: 480px;
        padding: 40px;
        border-radius: 240px;
    }
    
    .img_selector {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        padding: 10px;
        margin-top: 40px;
    }
    
    .img_selector img {
        height: 80px;
        width: 100px;
        border-radius: 100px;
    }

    .bCenter {
        width: 90%;
        max-height: 500px;
        padding: 10px;
        margin: auto;
    }

    /*Seccion Descarga nuestros cupones*/

    .section_Size {
        margin-top: 40px;
        margin-bottom: 40px;
        height: 580px;
    }

    /*Seccion "Comentarios de los clientes" en preguntas.html*/

    .card img{
    width: 200px;
    height: 200px;
    }

    .section_Size2 {
        height: 1200px;
        background-color: rgba(75, 0, 0, 0.4);
    }
    
    
    /*formulario*/

    .formulario {
        padding: 40px;
    }
    
    input, textarea {
        font-size: 16px;
    }

    .button {
        width: 20%;
        height: 30px;
        margin-top: 10px;
        margin-left: 20%;
        font-size: 16px;
    }
}
        
   /*-------------------- Vista Mobile 480px-------------------------*/

   @media screen and (max-width: 480px) {

    /*Body*/
   
    h2 {
        font-size: 24px;
        text-align: center;
    }
    
    h3 {
        font-size: 20px;
        text-align: center;
         
    }

    h4 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }
    
    ul {
        font-size: 14px;
        line-height: 1.4;
        text-align:justify;
    }
    
    body h1,h2,h3 {
        padding: 4px;
    } 

    /*Menu*/

    .navbar-brand img {
        height: 80px;
        width: 80px;
        }

    .imgFondoC img {

    height: 240px;
    width: 100%;
    }

    
    /*Contenido*/

    .gridContenidoN {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        overflow: hidden;
        min-height: 740px;
    }

    .gridContenido {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        overflow: hidden;
        min-height: 440px;
    }

    .gridContenido4 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: justify;
        overflow: hidden;
        align-items: center;
        min-height: 740px;
        min-width: 320px;
    }


    .orderUp {
        order:1;
    }

   .centerTextD {
       margin-top: 30px;
   }

   .marginBot {
       margin-bottom: 10px;
   }

   .marginConsulta p {
       margin-left: 20px;
       margin-right: 20px;
       margin-bottom: 20px;
   }

    .bderecha, .bizquierda {
        max-width: 280px;
        max-height: 300px;   
    }

    .imgderecha, .imgizquierda {
        height: 280px;
        width: 220;
    }

    .bizquierda div{
        width: 300px;
        height: 100px;
    }

    .bderecha div{
        width: 300px;
        height: 100px;
    }

    .imgizquierda div{
        width: 300px;
        height: 60px;
    }

    .imgderecha div{
        width: 300px;
        height: 60px;
    }

    .bderecha ul {
        margin-top: 20px;   
    }

    .bizquierda ul {
        margin-top: 20px;   
    }

    .imgderecha img, iframe {
        @include img--sizes(200px, 280px, 0px, auto);  
    }
    
    .imgizquierda img, iframe {
        @include img--sizes(200px, 280px, 0px, auto); 
    }    
    
/*Seccion consulta tu duda*/

.notCenter{
    max-height: 1200px;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.marginConsulta {
    max-height: 600px;
    min-width: 280px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;

}


    /*Seccion anclado de relatos en galeria.html*/

    .img_Relatos img{
        height: 320px;
        width: 320px;
        padding: 40px;
        border-radius: 160px;
    }

    .img_selector img {
        height: 80px;
        width: 80px;
        border-radius: 100px;
    }

    .bCenter {
        width: 90%;
    }

    /*Seccion Descarga nuestros cupones*/

    .section_Size {
        margin-top: 40px;
        margin-bottom: 40px;
        height: 560px;
    }


    /*Seccion "Comentarios de los clientes" en preguntas.html*/

    .card img {
    width: 160px;
    height: 160px;
    margin-top: 20px;
    }
    
    .section_Size2 {
    height: 1020px;
    background-color: rgba(75, 0, 0, 0.4);
    }

    /*Formulario*/

    .formulario {
        padding: 40px;
    }
    
    input, textarea {
        font-size: 14px;
    }

    .button {
        width: 40%;
        height: 20px;
        margin-top: 10px;
        margin-left: 24%;
        font-size: 14px;
    }

    /*footer*/

    footer {
        margin-top: 20px;
    }

    .fMenu .fMenuT {
        height: 40px;
        width: 40px;
    }

}   